<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Device Tests">

    <!--General parameters used across multiple tests-->
    <parameter name="localTest" value="false" />
    <parameter name="testobject_api_key" value="0C075C06DFB84F879FF10DF686D0A20C" />
    <parameter name="appLocation" value="C:\Users\bmacdonald\Documents\Learning\sample-apps\pre-built\ContactManager.apk" />
    <parameter name="name" value="Bob Smith" />
    <parameter name="phone" value="01225 851478" />
    <parameter name="email" value="Bob.Smith@gmail.com" />

    <!--Test specific paramteres-->
    <test name="App Tests">
        <parameter name="localTest" value="true" />
        <parameter name="serverURL" value="http://127.0.0.1:4723/wd/hub" />
        <parameter name="deviceName" value="Nexus_6_API_26" />
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="6.0" />
        <classes>
            <class name="Tests.ContactManagerTest" />
        </classes>
    </test>


    <!--Uncomment to run the test remotely on https://testobject.com-->
    <test name="TestObject Tests">
        <parameter name="serverURL" value="https://eu1.appium.testobject.com/wd/hub" />
        <parameter name="deviceName" value="LG Nexus 5X Free" />
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="8.1" />
        <classes>
            <class name="Tests.ContactManagerTest" />
        </classes>
    </test>

    <!--Uncomment to run the test remotely on https://testobject.com-->
    <test name="TestObject Tests">
        <parameter name="serverURL" value="https://eu1.appium.testobject.com/wd/hub" />
        <parameter name="deviceName" value="LG Nexus 5X Free" />
        <parameter name="platformName" value="Android" />
        <parameter name="platformVersion" value="8.1" />
        <classes>
            <class name="Tests.ContactManagerTest" />
        </classes>
    </test>

</suite>

